body{
    margin: 15px;
    height: 100vh;
    background-color: #f3eae3;
    display: flex;
    justify-content: center;
    align-items: center;
}

article{
    display: flex;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 720px;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow: hidden;
}

.photo{
    box-sizing: border-box;
    width: 360px;
    height: auto;
    overflow: hidden;
    
}

.photo img{
    width: 100%;
    height: 100%;
}

.information{
    box-sizing: border-box;
    width: 360px;
    padding: 40px;

}

.information .perfume{
    font-size: .8em;
    letter-spacing: 5px;
    color: gray;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.information h1{
    font-size: 1.75em;
    font-weight:;
    letter-spacing: 3px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.information p{
    color: gray;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5em;
    letter-spacing: 1.5px;
}

.price1{
    color: #3d8168;
    font-size: 2.1em;
    margin-right: 20px;
    font-weight:bolder;
}

.price2{
    color: gray;
    text-decoration: line-through;
}

a{
    display: block;
    background-color: #3d8168;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 0;
    border-radius: 5px;
    margin-top: 25px;
}

a:hover{
    background-color: #f3eae3;
    color: #3d8168;
    border: solid 1px #3d8168;
}